name: Monitor de Passagens

on:
  schedule:
    # Roda a cada 60 minutos (hora em hora)
    # Sintaxe Cron: minuto hora dia_mes mes dia_semana
    - cron: '0 * * * *' 
  workflow_dispatch: # Permite rodar manualmente clicando num botão se quiser testar

jobs:
  check-price:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout do código
        uses: actions/checkout@v3

      - name: Configurar Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'

      - name: Instalar dependências
        run: |
          pip install -r requirements.txt
          playwright install chromium
          playwright install-deps

      - name: Rodar Script de Monitoramento
        env:
          DATABASE_URL: ${{ secrets.DATABASE_URL }}
          TELEGRAM_TOKEN: ${{ secrets.TELEGRAM_TOKEN }}
          TELEGRAM_CHAT_ID: ${{ secrets.TELEGRAM_CHAT_ID }}
        run: python monitor.py
